@using Social_Media_Website.ViewModels
@using Social_Media_Website.Models
@using System.Security.Claims

@model List<UserViewModel>



<head>
    <meta charset="UTF-8">
    <title>FollowBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<section class="users-page-main">
    <div class="users-search-bar">   
            <form asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="searchTerm" id="searchInput">

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>

                </div>
            </form>
            <div id="suggestions" class="search-suggestions" style="display: none;"></div>
    </div>

    <div class="users--page-title">
        <h3>All Users :</h3>
    </div>


   <div class="users-content">

        @foreach (var user in Model)
        {  

        <div class="user-item">
            <div class="user-item-content">
                <div class="user-item-profile-image">
                    <img src="@user.ProfileImageUrl" alt=" ">
                </div>
                <div class="user-item-name">
                    <h3>@user.UserName</h3>
                </div>
                <div class="user-item-email">
                    <h4>@user.UserName</h4>
                </div>
                @{
                    var city = user.City == null ? "" : user.City.ToString();
                    var country = user.Country == null ? "" : user.Country.ToString();
                }
                <div class="user-item-location">
                    <h4>@city, @country</h4>
                </div>
                <div class="user-item-buttons">
                    <div class="user-item-buttons-follow">
                        <a  href="@Url.Action("AddFriend", "Friend", new { friendId = user.Id , friendUsername=user.UserName })" title="">Follow</a>
                    </div>
                    <div class="user-item-buttons-message">
                        <a asp-controller="Conversation" asp-action="StartConversation" asp-route-userId="@user.Id" >Message</a>
                    </div>

                </div>
            </div>
                <div class="user-item-view-profile">
                    <a asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">View Profile</a>
                </div>            
       </div>

        }
       

       
   </div>


</section>





<script>
    //$(document).ready(function () {
    //    var searchTermInput = $('#searchInput');
    //    var suggestionsDiv = $('#suggestions');

    //    searchTermInput.on('input', function () {
    //        var term = searchTermInput.val();
    //        if (term.length >= 3) {
    //            var encodedTerm = encodeURIComponent(term); // Encode the search term

    //            $.ajax({
    //                type: 'GET',
    //                url: '/User/TypeAhead', // Updated URL
    //                data: { term: encodedTerm }, // Use the encoded search term
    //                success: function (suggestions) {
    //                    if (suggestions.length > 0) {
    //                        suggestionsDiv.html('');
    //                        suggestions.forEach(function (suggestion) {
    //                            var suggestionLink = $('<a href="#"></a>').text(suggestion);
    //                            suggestionLink.on('click', function (event) {
    //                                event.preventDefault();
    //                                searchTermInput.val(suggestion);
    //                                suggestionsDiv.hide();
    //                                $('#search-form').submit();
    //                            });
    //                            var suggestionItem = $('<div></div>').append(suggestionLink);
    //                            suggestionsDiv.append(suggestionItem);
    //                        });
    //                        suggestionsDiv.show();
    //                    } else {
    //                        suggestionsDiv.hide();
    //                    }
    //                },
    //                error: function () {
    //                    suggestionsDiv.hide();
    //                }
    //            });
    //        } else {
    //            suggestionsDiv.hide();
    //        }
    //    });
    //});


</script>